{include file="header.html"}
<div class="wrapper" >
   <form  name="formulario_ingreso" class="form-signin" action="login.php" method="post" accept-charset="utf-8">

     <h3 class="form-signin-heading">Hola usuario</h3>
     <p><input type="text" class="form-control" name="email" placeholder="Email Address" autofocus="" required /></p>
     <p><input type="password" class="form-control" name="pass" placeholder="Password" required/></p>
     <p><a href="recuperar.php">Recuperar contraseña</a></p>
     <p><a href="nueva_cuenta.php">Nueva cuenta</a></p>
     <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar Sesión</button>

   </form>
 </div>

{include file="footer.html"}
